body {
    background-color: #4d4dff;
    color: white;
    font-family: 'Open Sans', sans-serif;
    margin: 0px;
    
}

.mainPage {
    height: 100vh;
    width: 100vh;
}

.overView {
    margin-right: auto;
    margin-left: auto;
    max-width: 1000px;
    height: 90vh;
    padding-left: 25px;
    padding-right: 25px;
    margin-top: 100px;
    margin-bottom: 50px;
    border-radius: 25px;
    color: #ffff4d;
}

.title {
    text-decoration: none;
    color: #ffff4d;
    font-size: 45px;
    border-bottom: 2px solid transparent;
    transition: all ease-in-out .2s;
}

a {
    text-decoration: none;
    width: 45px;
    height: 45px;
}

.title:hover {
    color: rgb(212, 212, 99);
    border-color: rgb(212, 212, 99);
}

.coolDiv {
    text-align: center;
    margin: auto;
    width: 50%;
    padding: 10px;
    margin: 0;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

#geoff1 {
    font-size: 26px;
    text-align: center;
}

#geoff2 {
    font-size: 26px;
    text-align: center;
}

.instagram {
    margin-left: -20px
}

.resumeHover {
    background-color: #ffff4d;
    color: black;
    font-size: 12px;
    display: none;
    border-radius: 3px
}

.resume{
    text-align: center;
}

.resume:hover .resumeHover {
    width: 40px;
    display: block;
    padding: 4px;
    padding-left: 10px;
    padding-right: 10px;
    margin: 2rem;
}

.icons img {
    width: 35px;
    height: 35px;
    text-align: center;
}

li {
    list-style-type: none;
    display: inline;
    margin: 5px;
}


@media (max-width: 960px){
    .icons {
        text-align: center;
    }

    .instagram {
        margin-left: -30px;
    }

}

#name {
    font-size: 24px;
}

.info {
    font-size: 1px;
}